<%- include  ("component/header-about")-%>
<%- include ("component/navbar-menu") -%>
<div id="border">
</div>
<%- include ("component/content-about") -%> 

<script src="/logic/FrameW.js"></script>
<%- include ("component/footer") %> 