<%- include  ("component/header-compose")-%> 
<body>
<header>
    <h1>ReFrain</h1>
    <nav class="cl-effect-1">
        <a href="/" class="nav-bar">Home</a>
        <a href="/quotes">Quotes</a>
        <a href="/about">About Us</a>
        <a href="/home">Login/Sign Up</a>
    </nav>
</header>
<section id="input">
<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label>Penulis</label>
        <input class="form-control" type="text" name="postPenulis">
        <label for='genre'>Genre</label>
        <select class='form-control' id="genre" name='postGenre'>
            <option value="Horror">Horror</option>
            <option value="Romance">Romance</option>
            <option value="Comedy">Comedy</option>
        </select>
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
            <textarea class="form-control" type="text" name="postBody" id="" cols="15" rows="30">
            </textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">
        Publish
    </button>
</form>
</section>

<%- include  ("component/footer")-%> 