<%- include ("component/header-akun")-%>
<%-include("component/navbar-akun")-%>
<div id="border">
</div>
<div class="profile">
    <div class="photo">
        <i class="far fa-user fa-7x img"></i>
    </div>
    
    
<div class="class">
    <h2>Nama:  <%= currentUser %> </h2>
</div>
    <div class="setting">
        <a href="/profile/setting">
            <i class="fas fa-cog fa-3x"></i>
        </a>
    </div>
</div>

<div class="add-story">

</div>

<%- include ("component/footer") %>