<%- include ("component/header-akun")-%>
<%-include("component/navbar-akun")-%>
<div id="border">
</div>
<div class="profile">
    <div class="photo">
        <i class="far fa-user fa-7x img"></i>
    </div>
    
    
<div class="class">
    
</div>
    <div class="setting">
    </div>
    <a class="btn btn-outline-secondary button"  href="/profile/add-story" role="button" 
        aria-controls="collapseExample">
       Add Story
    </a>
    <a class="btn btn-outline-secondary button-edit" href="/profile/edit-story" role="button">
        Edit Story
    </a>
</div>
    
<div class="add-story">
   
</div>

<%- include ("component/footer") %>