<%- include ("component/header-quotes") -%> 
<%- include ("component/navbar-menu") -%> 
        <div id="border">
        </div>
<%- include ("component/content-quotes") -%> 
<%- include ("component/footer") -%> 