.add-story {
  position: absolute;
  right: 0;
  margin-right: 10%;
  width: 60%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  min-height: 650px;
  padding: 3%;
  margin-top: 3%;
}
/* .essay {
  margin-left: 5%;
  margin-right: 5%;
}  */
.profile {
  position: absolute;
  margin-left: 5%;
  float: left;
  border-style: dotted;
  border-width: 2px;
  border-radius: 5px;
  height: 650px;
  width: 20%;
  text-align: center;
  margin-top: 3%;
}
.photo {
  margin: 10px auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
}
p {
  font-size: 16px;
}
.setting {
  position: absolute;
  top: 0;
  right: 0;
}
.akun {
  border: none;
  outline: none;
}
.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.choose {
  position: absolute;
  left: 10%;
}
.button-story {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.button-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.box {
  background-color: aliceblue;
  border: 3px solid black;
  margin: 3% auto;
  padding: 3%;
}
.name {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 3%;
}
