@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fff;
  color: #666;
  font-family: "Open Sans", arial, sans-serif;
  width: auto;
  margin: 0;
}
.content {
  margin-left: 3%;
}
.title {
  text-align: center;
  margin-right: 30%;
  align-items: center;
}

.story {
  padding: 2% 0;
  margin-right: 30%;
}

form {
  margin: 0;
  font-size: 125%;
  float: left;
}

label {
  float: left;
  /* width: 6em; */
  margin-top: 10px;
}

input,
textarea {
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  background-color: #efefef;
  font-size: 100%;
  /* width: 100%; */
  padding: 0.3em 0.5em 0.3em 0.5em;
}

.comment-list {
  /* border: 5px solid black; */
  margin-bottom: 50px;
  margin-left: 3%;
  width: 50%;
  position: relative;
  /* margin-bottom: 150px; */
}

.komentar {
  border: black 4px solid;
  margin-left: 3%;
  min-height: 250px;
  width: 50%;
  position: relative;
  padding: 2% 0 2% 3%;
  margin-bottom: 5%;
}

.komentator {
  padding-right: 50px;
  background-color: #808080;
  color: white;
  border-radius: 0.75em 0.75em;
}
.nav-story {
  float: right;
  clear: left;
  border-radius: 4px 4px;
  padding: 0px;
  font-size: 110%;
}

.nav-story h3 {
  border-radius: 4px 4px 0px 0px;
  background-color: orange;
  padding: 0.2em;
}

.nav-story ul {
  border: 4px solid orange;
  border-radius: 4px 4px;
  margin-top: -22px;
}

.nav-story ul li {
  margin: 10px 0 10px 0;
}

.list {
  overflow-y: scroll;
  height: 250px;
}
.login {
  margin-left: 3%;
  margin-bottom: 5%;
}
