@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fff;
  color: #666;
  font-family: "Open Sans", arial, sans-serif;
  width: auto;
  margin: 0;
}

.circle {
  width: 320px;
  float: left;
  text-align: center;
  position: relative;
  margin: 0 0 0 7%;
}

.circle p {
  padding: 0 20px 0 20px;
  margin: 40px 0 20px 0;
  text-align: left;
  line-height: 1.4em;
}

.circle h2 {
  margin-bottom: 30px;
}

.circle a img {
  transition-property: transform;
  transition-duration: 0.5s;
}

.circle a img:hover {
  transform: scale(1.15);
}
