<ul class="grid effect-2" id="grid">
    <li><a><img src="/Assets/Quotes1.jpg"></a></li>
    <li><a><img src="/Assets/Quotes2.jpg"></a></li>
    <li><a><img src="/Assets/Quotes3.jpg"></a></li>
    <li><a><img src="/Assets/Quotes4.jpg"></a></li>
    <li><a><img src="/Assets/Quotes5.jpg"></a></li>
    <li><a><img src="/Assets/Quotes6.jpg"></a></li>
    <li><a><img src="/Assets/Quotes7.jpg"></a></li>
    <li><a><img src="/Assets/Quotes1.jpg"></a></li>
    <li><a><img src="/Assets/Quotes2.jpg"></a></li>
    <li><a><img src="/Assets/Quotes3.jpg"></a></li>
    <li><a><img src="/Assets/Quotes4.jpg"></a></li>
    <li><a><img src="/Assets/Quotes5.jpg"></a></li>
    <li><a><img src="/Assets/Quotes6.jpg"></a></li>
    <li><a><img src="/Assets/Quotes7.jpg"></a></li>
    <li><a><img src="/Assets/Quotes1.jpg"></a></li>
    <li><a><img src="/Assets/Quotes2.jpg"></a></li>
    <li><a><img src="/Assets/Quotes3.jpg"></a></li>
    <li><a><img src="/Assets/Quotes4.jpg"></a></li>
    <li><a><img src="/Assets/Quotes5.jpg"></a></li>
    <li><a><img src="/Assets/Quotes6.jpg"></a></li>
    <li><a><img src="/Assets/Quotes7.jpg"></a></li>
    <li><a><img src="/Assets/Quotes1.jpg"></a></li>
    <li><a><img src="/Assets/Quotes2.jpg"></a></li>
    <li><a><img src="/Assets/Quotes3.jpg"></a></li>
    <li><a><img src="/Assets/Quotes4.jpg"></a></li>
    <li><a><img src="/Assets/Quotes5.jpg"></a></li>
    <li><a><img src="/Assets/Quotes6.jpg"></a></li>
    <li><a><img src="/Assets/Quotes7.jpg"></a></li>
</ul>
<script src="/logic/masonry.pkgd.min.js"></script>
<script src="/logic/ImageLoad.js"></script>
<script src="/logic/Casual.js"></script>
<script src="/logic/AnimationLoadPhotos.js"></script>
<script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration: 0.5,
        maxDuration: 1.0,
        viewportFactor: 0.2
    } );</script>