<section id="content">
    <div id="container">
        <h2></h2>
        <!-- <div class="background"></div> -->
        <div class="nulis">
            <h2>Hai, <%= namef %> <%=namel %>   </h2>
            <h3>Pilih jenis cerita yang kamu sukai!</h3>
        </div>
      
        <div class="circle">
            <h2>Comedy</h2>
            <a href="/Home/Comedy" class="comedy"><img src="Assets/laugh.png" alt="Comedy Image" /></a>
            <p>Menceritakan beberapa cerita lucu yang menarik dan seru sesuai pendapat masing-masing</p>
        </div>
        <div class="circle">
            <h2>Horror</h2>
            <a href="/Home/Horror" class="horror"><img src="Assets/horror.png" alt="Ghost Image" /></a>
            <p>Menceritakan beberapa cerita yang cukup menyeramkan dan seru yang dapat membuat anda tertarik</p>
        </div>
        <div class="circle">
            <h2>Romance</h2>
            <a href="/Home/Romance" class="romance"><img src="Assets/romance.png" alt="Wheely thing" /></a>
            <p>Menceritakan beberapa cerita yang tak pasti dan penuh dengan lika-liku kehidupan yang penuh dengan ujian
                tetapi tak luput dari harapan</p>
        </div>
    </div>
</section>
<script src="/logic/MainPage.js"></script>
