<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Refrain</title>
    
    <link rel="stylesheet" href="css/MainPage.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/logic/jquery-1.11.0.js"></script>
</head>
<body>