<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Quotes</title>

        <link rel="stylesheet" href="/Assets/component.css" />
        <link rel="stylesheet" href="/Assets/default.css" />
        <link rel="stylesheet" href="/logic/Loward.css" />
        <link rel="stylesheet" href="/css/navbar.css">
        <script src="/logic/modernizr.custom.js"></script>
    </head>
    <body>