<header>
    <h1>ReFrain</h1>
    <nav class="cl-effect-1">
        <a href="" class="font">Home</a>
        <a href=" " class="font">Quotes</a>
        <a href="" class="font">About Us</a>
        <!-- <a href="/home">Login/Sign Up</a> -->
        <div class="menudown">
            <button class="btnmenu" class="font">Akun</button>
            <div class="menu-content">
                <a href="/profile" class="font">Profile</a>
                <a href="/logout" class="font">Sign Out</a>
            </div>
        </div>
    </nav>
</header>